@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 224; /* うす黄色 */
  --background-end-rgb: 255, 255, 204; /* さらにうすい黄色 */
  --primary-color: 99, 179, 237; /* 新しい明るい色 (例: ライトブルー) */
  --secondary-color: 246, 173, 85; /* 新しい明るい色 (例: ライトオレンジ) */
  --accent-color: 252, 129, 129; /* 新しい明るい色 (例: ライトレッド) */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 30, 30, 30; /* ダークモード用 */
    --background-end-rgb: 45, 45, 45; /* ダークモード用 */
    --primary-color: 63, 139, 227; /* ダークモード用の色 (例: ダークブルー) */
    --secondary-color: 216, 143, 65; /* ダークモード用の色 (例: ダークオレンジ) */
    --accent-color: 212, 89, 89; /* ダークモード用の色 (例: ダークレッド) */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .primary-bg {
    background-color: rgb(var(--primary-color));
  }

  .secondary-bg {
    background-color: rgb(var(--secondary-color));
  }

  .accent-bg {
    background-color: rgb(var(--accent-color));
  }

  .primary-text {
    color: rgb(var(--primary-color));
  }

  .secondary-text {
    color: rgb(var(--secondary-color));
  }

  .accent-text {
    color: rgb(var(--accent-color));
  }
}
